.header{
    text-align: center;
}
.header,th{
    border: 1px solid;
}
th,td,input{
    width: 50px;
}
table{
    display:inline-block;
}
.add{
    width: 100%;
}
input:hover{
    cursor: pointer;
}

.content{
    display:flex;
    flex-direction:row; 
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    
}
table{
    margin: 5px 10px;
}
h1{
    text-align: center;
}

table.double input{
    width: 110px;
}

#data-arr{
    display: flex;
    justify-content: center;
}
@media  (max-width:700px){
    .content{
        display:flex;
        flex-direction:column;
        align-items:center;
        align-content: stretch;
        flex-wrap: wrap;
    }
    .first_two,.last_two{
        display:flex;
        justify-content:space-between;
    }

    #data-arr{
        display:none;
    }
} 
.code{
    display:flex;
    justify-content:center;
    margin-bottom: 20px;
}
.lastlast-two{
    display:flex;
    flex-flow: start;
    align-content: flex-start;
}
#plusminus{
    display:flex;
    width: 100%;
    justify-content:center;
    margin: 30px 0;
    position: sticky;
}
.plusbtn{
    border-radius: 50% 0 0 50%;
    
}
.minusbtn{
    border-radius: 0 50% 50% 0;
    
}
.plusbtn , .minusbtn{
    width:50px;
    height: 50px;
    background-color:#d3f3f1;
    transition: all 0.2s;
}
body{
    background-color: #c5f9d7;}

th,.header{
    background-color: #f7d486;
}
#header{
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;    color:#103783;
}
input,td{
    border-radius: 0;
}
p{
    color: cadetblue;
    float: left;
    font-size: x-small;
}
.plusbtn:hover , .minusbtn:hover{
    background-color: #9bafd9;
}
